<mz-navbar navbarClass="container">
	<a href="#" class="brand-logo"><img src="https://lh3.googleusercontent.com/I1KQJoBnAikesvg-ZmJh-JeCxM1jw4iOctgbDxPMsU0GcV4A76LUV_Ukx8CB2oB97725vInxb4gJZzzCgWoQ=w1920-h938" /> American 1:18 Models</a> 
  	<mz-navbar-item-container [align]="'right'">
  		<mz-navbar-item><span>{{textosPagina && textosPagina['seleccionar-idioma']}}</span></mz-navbar-item>
	    <mz-navbar-item *ngFor="let idioma of idiomas"><button mz-button (click)="cambiarIdioma(idioma)">{{idioma.nombre}}</button></mz-navbar-item>
  	</mz-navbar-item-container>
</mz-navbar>
